.navbar{
    width: 100%;
    height: 100px;
    background-color: rgba(35,47,63,255);
}

.logo img{
   width: 130px;
   height: auto;

}


.middle ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 600px;
    color: white;
    text-decoration: none;
    list-style: none;
}

.middle ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}


.ender button{
    color: white;
    padding: 10px 20px;
    background-color: transparent;
    border-radius: 10px;
    border-color: white;
}

.ender button:hover{
    border-radius: 20px;
    transition: all .7s ease-in-out;


}



.title-para{
    width: 95%;
    min-height: 30vh;
display: flex;
align-items: center;
justify-content: center;
    border-radius: 40px;
    background-color: background: rgb(131,58,180);
    background: linear-gradient(130deg, rgba(131,58,180,1) 0%, rgba(253,126,29,1) 47%, rgba(252,69,248,1) 100%);;
}



.title-para span{
font-weight: bold;


    font-size: 70px;
}


.card-con{
    width: 100%;
    min-height: 60vh;
    background: rgb(131,58,180);
    background: linear-gradient(130deg, rgba(131,58,180,1) 0%, rgba(253,126,29,1) 47%, rgba(252,69,248,1) 100%);;

    border-radius: 30px;

}


.card{
    min-height: 45vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.card img{
    height: 20vh;
    width:150px !important;
}


.card button{
    color: white !important;
    border-radius: 10px;
    background-color: lightskyblue;
    padding: 10px 20px;
    text-decoration: none;
    border-color: white !important;
}

.card button a{
    color: white !important;
  
  
    text-decoration: none;
    border-color: white !important;
}


.card button:hover{
    border-radius: 20px;
    transition: all .7s ease-in-out;
    background-color: rgb(30, 94, 120);


}


.product{
    width: 100%;
    height: 30vh;
    background-color: rgb(69, 174, 238);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}
.product span{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    
}


.ke{
    background-color: rgb(1, 179, 255) !important;
}
.product-card{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightskyblue;
    flex-wrap: wrap;
    gap: 100px;
    
}